/* Start Global */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* navbar font */
@font-face {
  font-family: Lovelo;
  src: url(../fonts/Lovelo\ Black.otf);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Start Utility classes */

/* container div */
.container {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}

/* flex container */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* green text */
.text-gr {
  color: #93cb52;
}

/* large heading */
.lg-heading {
  font-size: 35px;
  margin: 8px auto;
}



/* green horizontal rule */
hr {
  border-color: #93cb52;
  width: 150px;
  margin-bottom: 16px;
}

/* paragraph */
p {
  line-height: 25px;
  font-size: 18px;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.open {
  height: 100vh;
}

.hidden {
  display: none;
}

/*Start Navbar*/
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  font-family: Lovelo, sans-serif;
  background-color: #dce1e3;
}



#navbar-logo a {
  font-size: 40px;
  color: #5C5F58;
}

.nav-toggler {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}


header ul li {
  list-style: none;
  display: inline-block;
}

header ul li a {
  padding: 8px;
  margin: 0 4px;
  color: #000;
  border-radius: 5px;
}

header ul li a:hover {
  background-color: #93cb52;
  transition-duration: 0.5s;
}

/* Showcase */
#showcase {
  background: url(../images/showcase.jpg) no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .flex {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.btn-gr {
  border-radius: 5px;
  border: none;
  background-color: #93cb52;
  padding: 8px 12px;
  margin-top: 1rem;
}

.btn-gr:hover {
  background-color: #44a81f;
  transition-duration: 0.5s;
}

/* Start About */
#about {
  background-color: #164A41;
  display: flex;
}

#about div {
  flex-basis: 50%;
}

#about .aboutus-txt {
  padding: 0px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about .aboutus-img img {
  width: 100%;
  height: 100%;
}

#about p {
  word-spacing: -2px;
  color: #fff;
}

/* Start Services */
#services {
  min-height: 600px;
  background-color: #4D774E;
  color: #DADED4;
  padding: 60px 0px;
}

#services .flex {
  padding: .5rem;
  justify-content: space-between;
}

#services .ser-item {
  display: flex;
  flex-basis: 40%;
  text-align: center;
  align-items: center;
  padding: .5rem;
  margin: 1rem 0;
}

#services .ser-logo {
  margin-right: 1rem;
  border-radius: 50%;
  width: 70%;
}

#services .ser-logo img {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  padding: .25rem;
  border: 2px solid #93cb52;
  background-color: #fff;
}

#services .ser-item h3 {
  font-weight: 600px;
  text-transform: uppercase;
  color: #fff;
}

#fixed-btn {
  text-decoration: none;
  text-align: center;
  padding: 8px 20px;
  background-color: transparent;
  font-size: 16px;
  font-family: Lovelo, sans-serif;
  position: fixed ;
  bottom: 30px;
  right: 10px;
  cursor: pointer;
}

#fixed-btn img {
  width: 70px;
  height: 70px;
  box-shadow: 0px 0px 10px #F1B24A;
  box-shadow: 0px 0px 10px #F1B24A;
  border-radius: 50%;
}


#form {
  background-color: #4D774E;
  padding-top: 70px;
  height: 100vh;
 }

#form .container {
  width: 400px;
  margin: 30px auto;
  background-color: #164A41;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #F1B24A;
  box-shadow: 0px 0px 5px #F1B24A;
  height: auto;
}

#form h1 {
  font-family: 'lovelo';
  color: #F1B24A;
  font-size: 2rem;
  margin: 15px;
  text-align: center;
}

form {
  padding: 30px;
}

.input-field {
  padding: 10px;
  border-radius: 5px;
  width: 85%;
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 30px;
  
}

.fas {
  display: inline-block;
  color: #F1B24A;
  font-size: 1.5rem;
  border: 1px solid #F1B24A;
  padding: 10px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  margin: 15px 0;
}

textarea::placeholder {
  text-align: center;
}

#submit{
	background: white;
	padding: 12px 25px;
	border-radius: 5px;
  border: 2px solid #F1B24A;
  font-size: 15px;
  margin: 15px auto;
  display: block;
  color:#F1B24A;
  font-family: 'lovelo';
}

#submit:hover {
  background-color: #F1B24A;
  transition-duration: 0.5s;
  color: white;
}

.green-border {
  border: 1px solid #F1B24A;
}