
#services .ser-item {
  flex-direction: column;
}

#services .ser-logo {
  margin-bottom: 1rem;
  margin-right: 0;
  width: 60%;
}


#form .container {
  padding: 10px;
  padding-top: 150px;
  width: 100%;
}

.input-field {
  width: 65%;
}